# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Buildozer / Android (Python)
.buildozer/
python/bin/
*.apk
*.aab

# Android (Gradle)
*.iml
.gradle/
local.properties
/build
/app/build
/app/release
/app/debug
/captures
.externalNativeBuild
.cxx

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
